body {
  margin: 0px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: baseline;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  list-style-type: none; /* Remove bullets */
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: fuchsia;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  height: 2.5rem;            /* Footer height */
}
